*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

/* fonte externa poppins */
@font-face {
    font-family: 'poppins';
    src: url('../public/fonts/Poppins-Regular.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* paleta de cores */
:root{
    --textbanner: #022144;
    --banner: #fafbfc;
    --titulos: #32333c;
    --corSection: #f6f8fc;
    --paragrafos: #8a8fa3;
    --corpopage: #fff;
    --hover: #feb633;
    --paragrafoDark: #9f9f9f;
    --sectionDark: #393838;
    --corpoPageDark: #252525;
    --bordaCard: #d1d1d365;
}

.light{
    background-color: var(--corpopage);
}

.ligth  h1, h2{
    color: var(--titulos);
}

.light p{
    color: var(--paragrafos);
}

.lightSection{
    background-color: var(--corSection);
    
}

.lightSection  h1{
    color: var(--titulos);
}

.lightSection  p{
    color: var(--paragrafos);
}

.dark{
    background-color: var(--corpoPageDark);
    
}

.dark > h1, h2{
    color: var(--paragrafoDark);
}

.dark p{
    color: var(--paragrafoDark);
}

.darkSection{
    background-color: var(--sectionDark);
}

.darkSection h1, h2{
    color: var(--corSection);
}

.darkSection p{
    color: var(--paragrafoDark);
}